<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a href="#">Contact Me</a>
                <a href="#">Project</a>
                <a href="#">About</a>
                <a href="#" id="rd">Home</a>
            </div>
     <div>
         <aside>
             <p>Hello<br> I'm Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br> nisi ut aliquip ex ea commodo consequat</p>
         </aside>
         <section>

         </section>

         <button id="mw">More Work</button>
         <button>Hire Me</button>
     </div>
     <h4>About Me</h4>
  <div>
     <img src="./peter-sjo-Nxy-6QwGMzA-unsplash.jpg">
     <p id=abt>Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br> nisi ut aliquip ex ea commodo consequat</p>
</div>
 <h4>My Skills</h4>
 <p class="sk">HTML</p>
 <div class="contain">
     <div class="skill html">80%</div>
 </div>
 <p class="sk">CSS</p>
 <div class="contain">
     <div class="skill css">87%</div>
 </div>
 <p class="sk">JAVASCRIPT</p>
 <div class="contain">
     <div class="skill js">70%</div>
 </div>
 <p class="sk"> DESIGN</p>
 <div class="contain">
     <div class="skill design">60%</div>
 </div>
 <div>
   
     <h4>Projects</h4>
     <div class="container">

          <img src="./laptop4.jpeg" data-lightbox="homeportfolio" class="vertical">

          <img src="./laptop7.jpeg" data-lightbox="homeportfolio" y>

          <img src="./mae-mu-hkMGgTVBTSA-unsplash.jpg" data-lightbox="homeportfolio">

          <img src="./peter-sjo-Nxy-6QwGMzA-unsplash.jpg" data-lightbox="homeportfolio">

          <img src="./peter-sjo-vfbSLXNO_Gw-unsplash.jpg" data-lightbox="homeportfolio">
          </div>
<div id="footer">
    <form>
        <h6>Want to get in touch </h6>
        <div class="in"> 
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname" ></div>
    <div class="in">
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" ></div>
    <div class="in">
    <label for="mail">Email:</label><br>
    <input type="text" id="mail" name="mail"></div>
    <div class="in"> 
    <label for="msg" id="msg"> Leave a message</label>
    <textarea id="ms" name="msg" rows="10" cols="50">Message</textarea></div>
   </form>
</div>     
    </body>
</html>