<!DOCTYPE html>
<html>
    <head>
        <title>Portfolio</title>
        <link rel="stylesheet" href="../css/index.css">
    </head>
    <body>
        <header>
            <div class="topnav">
                <a href="#">Contact Me</a>
                <a href="#">Project</a>
                <a href="#">About</a>
                <a href="#" id="rd">Home</a>
            </div>
     <div>
         <aside>
             <p>Hello <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit,<br> sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br> nisi ut aliquip ex ea commodo consequat</p>
         </aside>
         <section>

         </section>

         <button id="mw">More Work</button>
         <button>Hire Me</button>
     </div>
     <h4>About Me</h4>
     <img src="/templates/html/peter-sjo-Nxy-6QwGMzA-unsplash.jpg">
    </body>
</html>